.flash {
  color: green;
}

table {
  width: 80%;
}

td:nth-child(1) {
  width: 25%;
}

td:nth-child(2) {
  width: 50%;
}

td:nth-child(n+3) {
  display: inline;
  padding-right: 8px;
}

td:last-child {
  padding-right: 0;
}

.error-message ul {
  padding: 33px;
  border: 5px solid red;
  width: 30%;
}